/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 15px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

/* red */
#button1 {
    background: #f78bad;
}

#button1:active, #button1.lit {
    background-image: url("https://cdn.glitch.com/c543ad00-fc54-48f0-b6f8-66ba204c87a8%2FScreen%20Shot%202021-03-24%20at%209.42.09%20PM.png?v=1616647371431");
    background-size:200px;
}

/* orange */
#button2 {
    background: #f2a757;
}

#button2:active, #button2.lit {
    background-image: url("https://cdn.glitch.com/c543ad00-fc54-48f0-b6f8-66ba204c87a8%2FScreen%20Shot%202021-03-24%20at%2010.32.09%20PM.png?v=1616650334355");
    background-size:200px;
}

#button3 {
    background: lightyellow;
}

#button3:active, #button3.lit {
    background-image: url("https://cdn.glitch.com/c543ad00-fc54-48f0-b6f8-66ba204c87a8%2FScreen%20Shot%202021-03-24%20at%2010.33.32%20PM.png?v=1616650418215");
    background-size:200px;
}

#button4 {
    background: lightgreen;
}

#button4:active, #button4.lit {
    background-image: url("https://cdn.glitch.com/c543ad00-fc54-48f0-b6f8-66ba204c87a8%2FScreen%20Shot%202021-03-24%20at%2010.34.56%20PM.png?v=1616650504295");
    background-size:200px;
}

#button5 {
    background: lightblue;
}

#button5:active, #button5.lit {
    background-image: url("https://cdn.glitch.com/c543ad00-fc54-48f0-b6f8-66ba204c87a8%2FScreen%20Shot%202021-03-24%20at%2010.35.42%20PM.png?v=1616650548501");
    background-size:200px;
}

#button6 {
    background: #da8cf5;
}

#button6:active, #button6.lit {
    background-image: url("https://cdn.glitch.com/c543ad00-fc54-48f0-b6f8-66ba204c87a8%2FScreen%20Shot%202021-03-24%20at%2010.38.53%20PM.png?v=1616650738766");
    background-size:200px;
}



